.article-wrapper {
    width: 30%;
}

.article-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    padding: 3rem 0;
}

.article-card:not(:last-of-type) {
    border-bottom: 1px solid var(--color-light-grey);
}

.article-card .header span:not(:last-child)::after {
    content: " · ";
}

.article-card .main {
    display: flex;
}

.article-card .detail {
    margin-right: 3rem;
    flex-grow: 1;
}

.article-card .image {
    cursor: pointer;
}

.article-card .body {
    cursor: pointer;
}

.article-card .body .content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.article-card .footer {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.article-card .tags {
    display: flex;
}

.article-card .tag {
    background-color: var(--color-light-grey);
    padding: 0.3rem 1rem;
    border-radius: 100px;
    margin-right: 0.5rem;
}

.article-card .footer .icons button {
    margin: 0 0.5rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.input-group label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.input-group textarea,
.input-group input {
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1.2rem;
}

.input-group {
    width: 100%;
    margin-bottom: 2rem;
}

.input-group span.info,
.input-group span.warn,
.input-group span.error {
    font-size: 0.75rem;
}

.input-group span.info {
    color: #008cff;
}

.input-group span.warn {
    color: #f3a600;
}

.input-group span.error {
    color: #ff0000;
}

.btn-wrapper {
    display: flex;
    gap: 1rem;
}

a.btn,
button.btn {
    border: 1px solid var(--color-light-grey);
    padding: 0.5rem 2rem;
    border-radius: 8px;
}

a.btn.btn-dark,
button.btn.btn-dark {
    color: white;
    background: var(--color-black);
}

a.btn.btn-dark-border,
button.btn.btn-dark-border,
a.btn:hover,
button.btn:hover {
    border: 1px solid var(--color-dark-grey);
}

a.btn.btn-dark:hover,
button.btn.btn-dark:hover {
    border: 1px solid;
}