:root {
    --color-black: #292929;
    --color-dark-grey: rgba(41, 41, 41, 1);
    --color-light-grey: rgba(242, 242, 242, 1);
    --color-white: #fff;
    --color-primary: #3F0677;
    --color-secondary: #3F066D;
    --color-red: red;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}

a {
    text-decoration: unset;
    color: black;
}

li {
    list-style: none;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

button {
    background: transparent;
    border: unset;
    cursor: pointer;
    padding: 0;
    font-size: 1rem;
}

textarea {
    resize: none;
}

textarea:focus-visible,
input:focus-visible {
    outline: none;
}

.d-flex {
    display: flex;
}

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-right {
    justify-content: right;
}

.align-items-center {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

hr {
    width: 100%;
    border: 1px solid var(--color-light-grey);
}

.w50 {
    width: 50%;
}

.m-auto {
    margin: auto;
}